# Exclude everything
/*

# Include .gitignore
!.gitignore

# Include setup
!README.md
!install.sh

# Include only specified
!nvim
!racket
!.zshrc
!.zprofile
!.p10k.zsh
!.bashrc
!.bash_profile
!wezterm
