# Exclude everything
/*

# Include .gitignore
!.gitignore

# Include setup
!README.md
!install.sh

# Include only specified
!awesome
!btop
btop/btop.log
!doom
!hypr
!mimeapps.list
!neofetch
!nvim
!racket
!rofi
!wallpaper
!waybar
!.zshrc
!.zprofile
!.p10k.zsh
!.bashrc
!.bash_profile
!wallpaper
!picom
!.gtkrc-2.0
!gtk-3.0
!.Xresources
!.xinitrc
